<app-header titulo="list"></app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Fabian</h3>
        <p>fb.argenis@gmail.com</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end text-small">72087969</ion-label>
    </ion-item>

    <ion-item *ngFor="let item of usuarios | async">
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.email}}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end text-small">{{item.phone}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>